{{define "auth-body"}}
<div id="check-email" class="page-pattern">
  <div class="grid-container _flex-column _main-center _cross-center">

    <div class="acourse-block-big">
      <a href="{{route "index"}}"><img class="logo" src="https://storage.googleapis.com/acourse/static/f3fb373b-929b-4966-a9f1-0eb39c97401f.svg"></a>
    </div>

    <div class="_flex-row _self-stretch">
      <div class="acourse-card acourse-segment col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="_flex-column">
          <div class="acourse-header _font-sub _color-sub _align-center">
            เข้าสู่ระบบ
          </div>
          <div class="_flex-row _main-center">
            <p class="_align-center acourse-block">เราได้ส่ง Magic Link สำหรับเข้าสู่ระบบให้คุณทางอีเมลแล้ว</p>
          </div>
          <div class="_flex-row _main-center acourse-block">
            <a class="_color-main" href="{{route "index"}}">กลับไปหน้าแรก</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
