{{define "app-body"}}
  <div id="course">
    <div class="grid-container">
      <div class="acourse-card _flex-column">

        <div class="">
          <img class="course-img" {{if .Course.Image}}src="{{.Course.Image}}"{{end}} width="100%">
        </div>

        <div class="acourse-segment">
          <div class="course-content _flex-row">
            <div class="acourse-segment _flex-column _flex-span">

              <div class="">
                <h1 class="_color-sub">{{.Course.Title}}</h1>
              </div>

              <div class="acourse-block-big _flex-row _cross-center">
                <p class="_no-margin">แชร์บน &nbsp;</p>
                <a
                  href="https://www.facebook.com/sharer/sharer.php?u=http%3A//acourse.io/course/{{.Course.Link}}"
                  target="_blank"
                  class="_font-size-bigger acourse-side-space">
                  <i class="fa fa-facebook-square" style="color: #3b5999"></i>
                </a>
                <a
                  href="https://twitter.com/home?status=http%3A//acourse.io/course/{{.Course.Link}}"
                  target="_blank"
                  class="_font-size-bigger acourse-side-space">
                  <i class="fa fa-twitter-square" style="color: #55acee"></i>
                </a>
                <a
                  href="https://plus.google.com/share?url=http%3A//acourse.io/course/{{.Course.Link}}"
                  target="_blank"
                  class="_font-size-bigger acourse-side-space">
                  <i class="fa fa-google-plus-square" style="color: #dc4e41"></i>
                </a>
              </div>

              {{if eq .Course.Type live}}
                {{if not .Course.Start.Time.IsZero}}
                <div class="acourse-block-bigger">
                  <div class="acourse-label -red _font-bold">เริ่มสอน: {{.Course.Start.Time | date}}</div>
                </div>
                {{end}}
              {{end}}

              <div class="acourse-block">
                <h2 class="acourse-block">รายละเอียดคอร์ส</h2>
                <div class="course-detail _pre-wrap _font-sub">
                  {{.Course.Desc | markdown}}
                </div>
              </div>
            </div>

            <div class="course-sidebar _flex-column acourse-block-big">
              <div class="acourse-segment-big _bg-color-base-2">
                <div>
                  {{if .Course.Option.Enroll}}
                    {{if not .Enrolled}}
                      <div class="acourse-block _flex-row _main-end _cross-end">
                        {{if le .Course.Price 0.0}}
                          <p class="_font-bold _font-size-bigger _no-margin">ฟรี</p>
                        {{else}}
                          <p class="_font-main _no-margin {{if .Course.Option.Discount}}discount _color-positive _font-size-big{{else}} _font-size-bigger{{end}}">
                            ฿{{.Course.Price | currency}}
                          </p>
                          {{if .Course.Option.Discount}}
                            <p class="_font-main _font-size-bigger _no-margin">
                              &nbsp;฿ {{.Course.Discount | currency}}
                            </p>
                          {{end}}
                        {{end}}
                      </div>
                    {{end}}
                  {{end}}

                  {{if .Enrolled}}
                  <div class="acourse-block-big">
                    <a href="{{route "course" .Course.Link "content"}}">
                      <button class="acourse-button -positive _font-sub _full-width acourse-block">เริ่มเรียน</button>
                    </a>
                    <!--<a href="{{route "index"}}">
                      <button class="acourse-button -primary _font-sub _full-width acourse-block">Attend</button>
                    </a>-->
                    {{if .Course.Option.Assignment}}
                      <a href="{{route "course" .Course.Link "assignment"}}">
                        <button class="acourse-button -primary _font-sub _full-width acourse-block">การบ้าน</button>
                      </a>
                    {{end}}
                  </div>
                  {{end}}

                  {{if .PendingEnroll}}
                  <div class="acourse-block-big">
                    <button class="acourse-button -disable _font-sub _full-width acourse-block disabled">กำลังตรวจสอบ</button>
                  </div>
                  {{else}}
                    {{if .Course.Option.Enroll}}
                      {{if and (not .Owned) (not .Enrolled)}}
                      <div class="acourse-block-big">
                        <a href="{{route "course" .Course.Link "enroll"}}">
                          <button class="acourse-button -positive _font-sub _full-width acourse-block">สมัครเรียน</button>
                        </a>
                      </div>
                      {{end}}
                    {{end}}
                  {{end}}

                  {{if .Owned}}
                  <div class="acourse-block-big">
                    <a href="{{route "course" .Course.Link "content"}}">
                      <button class="acourse-button -positive _font-sub _full-width acourse-block">เริ่มเรียน</button>
                    </a>
                    <a href="{{route "editor.course" (param "id" .Course.ID)}}">
                      <button class="acourse-button -primary _font-sub _full-width acourse-block">แก้ไขคอร์ส</button>
                    </a>
                    <a href="{{route "editor.content" (param "id" .Course.ID)}}">
                      <button class="acourse-button -primary _font-sub _full-width acourse-block">แก้ไขคอนเทนท์</button>
                    </a>
                  </div>
                  {{end}}

                  <div>
                    <h3>รายละเอียดผู้สอน</h3>
                    <div class="_flex-column _cross-center _font-sub">
                      <img
                        class="acourse-block acourse-circle _img-cover"
                        src="{{.Course.Owner.Image}}"
                        onerror="this.src = '{{fallbackImage}}'">
                      <div class="_font-bold _font-size-big">{{.Course.Owner.Name}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}
