{{define "app-body"}}
  <div id="course">
    <div class="grid-container">
      <div class="acourse-card _flex-column">

        <div class="">
          <img class="course-img" src="{{.Course.Image}}" width="100%">
        </div>

        <div class="acourse-segment">
          <div class="course-content _flex-row">
            <div class="acourse-segment _flex-column _flex-span">

              <div class="">
                <h1 class="_color-sub">{{.Course.Title}}</h1>
              </div>

              <div class="acourse-block-big _flex-row _cross-center">
                <p class="_no-margin">share on &nbsp;</p>
                <a
                  href="https://www.facebook.com/sharer/sharer.php?u=http%3A//acourse.io/course/{{.Course.Link}}"
                  target="_blank"
                  class="_font-size-bigger acourse-side-space">
                  <i class="fa fa-facebook-square" style="color: #3b5999"></i>
                </a>
                <a
                  href="https://twitter.com/home?status=http%3A//acourse.io/course/{{.Course.Link}}"
                  target="_blank"
                  class="_font-size-bigger acourse-side-space">
                  <i class="fa fa-twitter-square" style="color: #55acee"></i>
                </a>
                <a
                  href="https://plus.google.com/share?url=http%3A//acourse.io/course/{{.Course.Link}}"
                  target="_blank"
                  class="_font-size-bigger acourse-side-space">
                  <i class="fa fa-google-plus-square" style="color: #dc4e41"></i>
                </a>
              </div>

              {{if eq .Course.Type live}}
                {{if not .Course.Start.Time.IsZero}}
                <div class="acourse-block-bigger">
                  <div class="acourse-label -red _font-bold">Start At: {{.Course.Start.Time | date}}</div>
                </div>
                {{end}}
              {{end}}

              <div class="acourse-block">
                <h2 class="acourse-block">Course Detail</h2>
                <div class="course-detail _pre-wrap _font-sub">
                  {{.Course.Desc | markdown}}
                </div>
              </div>
            </div>

            <div class="course-sidebar _flex-column acourse-block-big">
              <div class="acourse-segment-big _bg-color-base-2">
                <div>
                  {{if .Course.Option.Enroll}}
                    {{if not .Enrolled}}
                      <div class="acourse-block _flex-row _main-end _cross-end">
                        {{if le .Course.Price 0.0}}
                          <p class="_font-bold _font-size-bigger _no-margin">FREE</p>
                        {{else}}
                          <p class="_font-main _no-margin {{if .Course.Option.Discount}}discount _color-positive _font-size-big{{else}} _font-size-bigger{{end}}">
                            ฿{{.Course.Price | currency}}
                          </p>
                          {{if .Course.Option.Discount}}
                            <p class="_font-main _font-size-bigger _no-margin">
                              &nbsp฿ {{.Course.Discount | currency}}
                            </p>
                          {{end}}
                        {{end}}
                      </div>
                    {{end}}
                  {{end}}

                  {{if .Enrolled}}
                  <div class="acourse-block-big">
                    <a href="/course/{{.Course.Link}}/content">
                      <button class="acourse-button -positive _font-sub _full-width acourse-block">Start Learning</button>
                    </a>
                    <!--<a href="/">
                      <button class="acourse-button -primary _font-sub _full-width acourse-block">Attend</button>
                    </a>-->
                    {{if .Course.Option.Assignment}}
                      <a href="/course/{{.Course.Link}}/assignment">
                        <button class="acourse-button -primary _font-sub _full-width acourse-block">Assignment</button>
                      </a>
                    {{end}}
                  </div>
                  {{end}}

                  {{if .PendingEnroll}}
                  <div class="acourse-block-big">
                    <button class="acourse-button -disable _font-sub _full-width acourse-block disabled">Pending Enroll</button>
                  </div>
                  {{else}}
                    {{if .Course.Option.Enroll}}
                      {{if and (not .Owned) (not .Enrolled)}}
                      <div class="acourse-block-big">
                        <a href="/course/{{.Course.Link}}/enroll">
                          <button class="acourse-button -positive _font-sub _full-width acourse-block">Enroll Now</button>
                        </a>
                      </div>
                      {{end}}
                    {{end}}
                  {{end}}

                  {{if .Owned}}
                  <div class="acourse-block-big">
                    <a href="/course/{{.Course.Link}}/content">
                      <button class="acourse-button -positive _font-sub _full-width acourse-block">Start Learning</button>
                    </a>
                    <a href="/editor/course?id={{.Course.ID}}">
                      <button class="acourse-button -primary _font-sub _full-width acourse-block">Edit Course</button>
                    </a>
                    <a href="/editor/content?id={{.Course.ID}}">
                      <button class="acourse-button -primary _font-sub _full-width acourse-block">Edit Content</button>
                    </a>
                  </div>
                  {{end}}

                  <div>
                    <h3>Instructor</h3>
                    <div class="_flex-column _cross-center _font-sub">
                      <img
                        class="acourse-block acourse-circle _img-cover"
                        src="{{.Course.Owner.Image}}"
                        onerror="this.src = 'https://storage.googleapis.com/acourse/static/d509b7d8-88ad-478c-aa40-2984878c87cd.svg'">
                      <div class="_font-bold _font-size-big">{{.Course.Owner.Name}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}

{{define "app-script"}}
{{end}}

{{define "app-style"}}
<style>
  #course {
    position: relative;
    z-index: 1;
    padding-top: 32px;
    min-height: calc(100vh - 311px);
  }

  #course .acourse-header {
    margin-bottom: 8px;
  }

  #course .acourse-card {
    margin-bottom: 32px;
  }

  #course .course-img {
    height: 200px;
    object-fit: cover;
    vertical-align: bottom;
  }

  .course-detail p,
  .course-detail li {
    line-height: 1.4em;
  }
  .course-detail a {
    word-break: break-all;
    color: #2F8DFA;
  }

  #course .course-sidebar {
    flex-basis: 300px;
  }

  #course .discount {
    text-decoration: line-through;
    font-size: 13px;
  }

  @media only screen and (max-width: 767px) {
    #course {
      padding: 0;
      margin: 0;
    }
    #course .acourse-segment-big {
      padding-left: 16px;
      padding-right: 16px;
    }
    #course>.grid-container {
      margin: 0;
      width: 100%;
    }
    #course .acourse-card {
      margin: 0px;
      border-radius: 0;
    }
    #course .course-content {
      flex-direction: column-reverse;
    }
    #course .course-sidebar {
      flex-basis: initial;
    }
    #course .acourse-card>.acourse-segment {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
    }
    #course .course-sidebar>.acourse-segment {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  @media only screen and (min-width: 768px) {
    #course .course-img {
      height: 250px;
    }
  }

  @media only screen and (min-width: 970px) {
    #course .course-img {
      height: 300px;
    }
  }

  @media only screen and (min-width: 1170px) {
    #course .course-img {
      height: 350px;
    }
  }
</style>
{{end}}