{{define "app-body"}}
<h3>Course > {{.Course.Title}}</h3>
<img src="{{.Course.Image}}">
<h4>Course Detail</h4>
{{if not .Course.Start.IsZero}}
<p>Start At: {{.Course.Start | dateTime}}</p>
{{end}}
<hr>
<div>
  {{.Course.Desc | html}}
</div>
<hr>
<div>
  Course Contents
  {{range $i, $x := .Course.Contents}}
    <div>
      <h4>{{incr $i}}. {{.Title}}</h4>
      {{if .YoutubeID}}
        <div class="video">
          <iframe
            width="560" height="315"
            frameborder="0" scrolling="no" allowfullscreen
            src="https://www.youtube.com/embed/{{.YoutubeID}}?rel=0&hd=1">
          </iframe>
        </div>
      {{end}}
      {{.Desc | html}}
      {{if .DownloadURL}}
        <a href="{{.DownloadURL}}" target="_blank">Download</a>
      {{end}}
      <hr>
    </div>
  {{end}}
</div>
{{end}}
