{{define "app-body"}}
  <div id="home">
    <div class="banner">
      <div class="grid-container _flex-column _cross-center _main-center">
        <p class="tag-line _font-sub">acourse.io</p>
        <p class="sub-tag-line _font-sub _font-thin _align-center">
          <span class="_no-wrap">เรียนเขียนโค๊ดกับเหล่ามหาเทพ</span>
          <span class="_no-wrap">คุณเองก็เทพได้</span>
          <div class="row">&nbsp;</div>
          <a href="https://startupcto.typeform.com/to/qd1Utf" class="acourse-button -negative" target="_blank">สมัครเป็นผู้สอน</a>
        </p>
      </div>
    </div>
    <div class="grid-container row">
    {{range .Courses}}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 _flex-row _main-strech">
        {{template "course-card" .}}
      </div>
    {{end}}
    </div>
  </div>
{{end}}

{{define "app-script"}}
{{end}}

{{define "app-style"}}
{{template "course-card-style"}}
<style>
  #home {
    position: relative;
    z-index: 1;
    padding-top: 0px;
    padding-bottom: 48px;
  }

  #home .banner {
    display: flex;
    height: 300px;
    background-image: url(https://storage.googleapis.com/acourse/static/b78b6091-4f93-42e0-b5b0-5f11bcab0d64.jpg);
    background-color: #F1F1F1;
    background-size: cover;
    margin-bottom: 32px;
  }

  #home .tag-line {
    margin-top: -50px;
    font-size: 64px;
    color: white;
    margin-bottom: 16px;
  }

  #home .sub-tag-line {
    font-size: 20px;
    color: white;
  }
</style>
{{end}}
