{{define "app-body"}}
  <div id="home" class="page-pattern">
    <div class="grid-container row">
    {{range .Courses}}
      <div class="col-xs-3 _flex-row _main-strech">
        {{template "course-card" .}}
      </div>
    {{end}}
    </div>
  </div>
{{end}}

{{define "app-script"}}
<script>
  console.log('HELLO FROM HOME')
</script>
{{end}}

{{define "app-style"}}
  {{template "course-card-style"}}
  <style>
    #home {
      position: relative;
      z-index: 1;
      padding-top: 48px;
    }
  </style>
{{end}}
