{{define "root"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{.Page.Title}}</title>
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="https://storage.googleapis.com/acourse/static/24540ce5-cc7d-4886-a680-eca24be60fe1.png">
    <!--<link rel="manifest" href="/static/manifest.json">-->
    <meta name="theme-color" content="#336b87">
    <meta name="msapplication-navbutton-color" content="#336b87">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="description" content="{{.Page.Desc}}">
    <meta property="fb:app_id" content="1369680239711962">
    <meta property="og:url" content="{{.Page.URL}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{.Page.Title}}">
    <meta property="og:description" content="{{.Page.Desc}}">
    <meta property="og:site_name" content="Acourse">
    <meta property="og:image" content="{{.Page.Image}}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="700">
    <link rel="stylesheet" href="/~/style.css">
  </head>
  <body>
    {{template "body" $}}
    {{template "script" $}}
  </body>
</html>
{{end}}
