{{define "root"}}
<!doctype html>
<html lang="th">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{with .Meta}}
<title>{{if .Title}}{{.Title}} | {{end}}Acourse</title>
<link rel="icon" type="image/png" href="/-/favicon.png">
<meta name="theme-color" content="#336b87">
<link rel="apple-touch-icon" href="/-/apple-touch-icon.png">
<meta name="msapplication-navbutton-color" content="#336b87">
<meta name="description" content="{{.Desc}}">
<meta property="fb:app_id" content="1369680239711962">
<meta property="og:url" content="{{.URL}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{.Title}}">
<meta property="og:description" content="{{.Desc}}">
<meta property="og:site_name" content="Acourse">
{{if .Image}}
<meta property="og:image" content="{{.Image}}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{{end}}
{{end}}

<link rel="dns-prefetch" href="https://storage.googleapis.com" data-turbolinks-permanent>
<link rel="dns-prefetch" href="https://fonts.googleapis.com" data-turbolinks-permanent>
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com" data-turbolinks-permanent>

<link rel="preload" as="image" href="{{fallbackImage}}" data-turbolinks-permanent>
<link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css" data-turbolinks-permanent>
<link rel="preload" as="style" href="{{static "style.css"}}" data-turbolinks-permanent>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css" data-turbolinks-track="reload">
<link rel="stylesheet" href="{{static "style.css"}}" data-turbolinks-track="reload">

<script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.1.1/turbolinks.js" defer></script>

<body class="helvetica">
	{{template "body" .Data}}
</body>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
{{template "global.script"}}
{{block "script" .Data}}{{end}}

{{end}}