{{define "app-body"}}
<div id="not-found">
	<div class="grid-container">
		<div class="text-not-found _flex-column _cross-center _full-width">
			<img src="{{.Image}}" alt="404">
		</div>
	</div>
</div>
{{end}}
