{{define "app-body"}}
<div id="profile" class="page-pattern">
  <div class="profile-container grid-container">
    <div class="row _cross-start">

      <div class="user-profile col-xs-12 col-md-3 _flex-column _main-start">
        {{template "user-profile" me}}
        <div class="user-id">User ID: {{me.ID}}</div>
        <a href="/profile/edit"><div class="button-secondary">Edit Profile</div></a>
      </div>

      <div class="user-dashboard col-xs-12 col-md-9  _flex-column">
        {{if me.Role.Instructor}}
          <div class="col-xs-12 _flex-row _main-space-between _cross-center">
            <h3>My Own Courses</h3>
            <a href="/create-course">
              <div class="button-default">Create new Course</div>
            </a>
          </div>
          
          <div class="row">
            {{range .OwnCourses}}
              <div class="col-xs-12 col-md-4 _flex-row _main-strech">
                {{template "own-course-card" .}}
              </div>
            {{end}}
          </div>
          {{end}}
          <h3 class="col-xs-12">Enrolled Courses</h3>
          <div class="row">
            {{range .EnrolledCourses}}
            <div class="col-xs-12 col-md-4 _flex-row _main-strech">
              {{template "enrolled-course-card" .}}
            </div>
            {{end}}
          </div>
      </div>

    </div>
      
  </div>
</div>
{{end}}

{{define "app-style"}}
  {{template "enrolled-course-card-style"}}
  {{template "own-course-card-style"}}
  <style>
    #profile {
      z-index: 1;
      padding-top: 48px;
      padding-bottom: 48px;
    }

    #profile #profile-card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #profile #profile-card img {
      width: 50%;
    }
    #profile #profile-card .profile-card-name {
      font-size: 20px;
      margin-bottom: 16px;
    }

    #profile .user-profile {
      background: white;
      border-radius: 5px;
      margin-bottom: 16px;
      padding: 16px;
    }
    #profile .user-dashboard {
      padding: 0;
    }
    #profile .user-id {
      margin-bottom: 16px;
    }
    @media only screen and (min-width: 768px) {
      #profile .user-dashboard {
        padding: 24px;
        padding-top: 0;
      }
    }
    @media only screen and (max-width: 767px) {
      #profile {
        padding-top: 16px;
      }
      .button-default {
        padding: 8px;
      }
    }
  </style>
{{end}}


{{define "app-script"}}
{{end}}