{{define "auth-body"}}
<div id="reset-password" class="page-pattern">
  <div class="grid-container _flex-column _main-center _cross-center">

    <div class="acourse-block-big">
      <a href="{{route "index"}}"><img class="logo" src="https://storage.googleapis.com/acourse/static/f3fb373b-929b-4966-a9f1-0eb39c97401f.svg"></a>
    </div>

    <div class="_flex-row _self-stretch">
      <div class="acourse-card acourse-segment acourse-block-bigger col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="acourse-header _color-sub _align-center">
          ตั้งรหัสผ่านใหม่
        </div>

        {{if .Flash.Get "OK"}}
        <div class="_flex-row _main-center acourse-block-bigger">
          รายละเอียดสำหรับตั้งรหัสผ่านใหม่ ถูกส่งไปยังอีเมล์ของคุณแล้ว
        </div>
        {{else}}

        <form method="POST">
          <div class="input-field _flex-column">
            <label>อีเมล์ของคุณ</label>
            <input class="acourse-input" name="email" placeholder="อีเมล์ที่คุณใช้ลงทะเบียน" required>
          </div>

          <div class="acourse-block-big _flex-row _main-center">
            <button class="acourse-button -primary _font-sub _full-width" type="submit">
              ตั้งรหัสผ่านใหม่
            </button>
          </div>

          {{if .Flash.Has "Errors"}}
          <div class="acourse-message -error">
            <ul>
            {{range .Flash.Get "Errors"}}
              <li>{{.}}</li>
            {{end}}
            </ul>
          </div>
          {{end}}

        </form>
        {{end}}

        <div class="_flex-row _main-center acourse-block">
          <a class="_color-main" href="{{route "signin"}}">&nbsp;เข้าสู่ระบบ</a>
          <span class="acourse-side-space-bigger _opa20">|</span>
          <a class="_color-main" href="{{route "index"}}">กลับสู่หน้าหลัก</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
