{{define "auth-body"}}
<div id="sign-in" class="page-pattern">
  <div class="grid-container _flex-column _main-center _cross-center">

    <div class="acourse-block-big">
      <a href="/"><img class="logo" src="/~/img/acourse-logo-s.svg"></a>
    </div>

    <div class="_flex-row _self-stretch">
      <div class="acourse-card acourse-segment col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <form method="POST">
          <div class="_flex-column">
            <div class="acourse-header _font-sub _color-sub _align-center">
              Sign In
            </div>
            {{xsrf "signin"}}
            <div class="input-field _flex-column">
              <label>Email:</label>
              <input class="acourse-input" name="Email" value="{{.Flash.Get "User"}}">
            </div>
            <div class="input-field _flex-column">
              <label>Password</label>
              <input class="acourse-input" name="Password" type="password">
            </div>
            <div class="_flex-row _main-center">
              <button class="acourse-button -primary acourse-block-big _full-width" type="submit">
                Sign In
              </button>
            </div>
            {{if .Flash.Errors}}
              <div class="acourse-message -error">
                <ul>
                  {{range .Flash.Errors}}
                    <li>{{.}}</li>
                  {{end}}
                </ul>
              </div>
            {{end}}
            <p class="_align-center acourse-block">or sign in with</p>
            <div class="_flex-row _main-center acourse-block">
              <a class="link" href="/openid?p=google.com"><i class="fa fa-google"></i>Google</a>
              <a class="link" href="/openid?p=facebook.com"><i class="fa fa-facebook"></i>Facebook</a>
              <a class="link" href="/openid?p=github.com"><i class="fa fa-github"></i>Github</a>
            </div>
            <div class="_flex-row _main-center acourse-block">
              Don't have an account? <a class="_color-main" href="/signup">&nbspSignup</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "auth-style"}}
<style>
  #sign-in {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
  }

  #sign-in .link {
    padding: 12px 16px;
    text-align: center;
    color: gray;
  }

  #sign-in .link i {
    margin-right: 4px;
  }

  #sign-in .acourse-card {
    min-height: 382px;
  }
</style>
{{end}}
