{{define "auth-body"}}
<form method="POST">
  <input name="xsrf" value="{{xsrf "signin"}}">
  <label>Username or Email:</label>
  <input name="user">
  <label>Password</label>
  <input name="password">
  <button type="submit">Sign Up</button>
</form>
<p>Or Sign up with</p>
<button>Google</button>
<button>Facebook</button>
<button>Github</button>
<a href="/signin">Back to sign in</a>
<a href="/">Back</a>
{{end}}
