{{define "auth-body"}}
<div id="sign-in-password" class="page-pattern">
  <div class="grid-container _flex-column _main-center _cross-center">

    <div class="acourse-block-big">
      <a href="/"><img class="logo" src="https://storage.googleapis.com/acourse/static/f3fb373b-929b-4966-a9f1-0eb39c97401f.svg"></a>
    </div>

    <div class="_flex-row _self-stretch">
      <div class="acourse-card acourse-segment col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <form method="POST">
          <div class="_flex-column">
            <div class="acourse-header _font-sub _color-sub _align-center">
              เข้าสู่ระบบ
            </div>
            {{.XSRF}}
            <div class="input-field _flex-column">
              <label>อีเมล์</label>
              <input class="acourse-input" name="Email" value="{{.Flash.Get "User"}}" placeholder="อีเมล์ของคุณ">
            </div>
            <div class="input-field _flex-column">
              <label>รหัสผ่าน</label>
              <input class="acourse-input" name="Password" type="password" placeholder="รหัสผ่านของคุณ">
            </div>
            <div class="_flex-row _main-center">
              <button class="acourse-button -primary _font-sub acourse-block-big _full-width" type="submit">
                เข้าสู่ระบบ
              </button>
            </div>
            {{if .Flash.Errors}}
              <div class="acourse-message -error">
                <ul>
                  {{range .Flash.Errors}}
                    <li>{{.}}</li>
                  {{end}}
                </ul>
              </div>
            {{end}}
            <p class="_align-center acourse-block">หรือเข้าสู่ระบบด้วย</p>
            <div class="_flex-row _main-center acourse-block">
              <a class="link" href="/openid?p=google.com"><i class="fa fa-google"></i>Google</a>
              <a class="link" href="/openid?p=facebook.com"><i class="fa fa-facebook"></i>Facebook</a>
              <a class="link" href="/openid?p=github.com"><i class="fa fa-github"></i>Github</a>
            </div>
            <div class="_flex-row _main-center acourse-block-big">
              <a class="_color-main" href="/signup">&nbsp;สมัครใช้งาน</a>
              <span class="acourse-side-space-bigger _opa20">|</span>
              <a href="/reset/password" class="_color-main">ลืมรหัสผ่าน</a>
            </div>
            <div class="_flex-row _main-center acourse-block">
              <a class="_color-main" href="/">กลับไปหน้าแรก</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}
