@import 'config';
.acourse-button {
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  user-select: none;
  font-weight: 400;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.acourse-button {
  @extend .acourse-button;
  background-color: #02b7e9;
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,0.15);
  padding: 12px 16px;
  &:hover {
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,0.2);
  }
  &.-default {
    background-color: #02b7e9;
    color: #fff;
  }
}
.acourse-button-secondary {
  color: #494d55;
  background-color: #fff;
  border: 2px solid #cdd1d3;
  padding: 8px 12px;
  text-align: center;
}

