@import 'config.scss';

input[type='email'].acourse-input,
input[type='number'].acourse-input,
input[type='password'].acourse-input,
input[type='search'].acourse-input,
input[type='tel'].acourse-input,
input[type='text'].acourse-input,
input[type='date'].acourse-input,
input[type='url'].acourse-input,
input:not([type]).acourse-input,
textarea.acourse-input,
select.acourse-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: inherit;
  padding: 8px 16px;
  background-color: white;
  &.-rise {
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,0.15);
  }
}
input[type='email'].acourse-input:focus,
input[type='number'].acourse-input:focus,
input[type='password'].acourse-input:focus,
input[type='search'].acourse-input:focus,
input[type='tel'].acourse-input:focus,
input[type='text'].acourse-input:focus,
input[type='date'].acourse-input:focus,
input[type='url'].acourse-input:focus,
input:not([type]).acourse-input:focus,
textarea.acourse-input:focus,
select.acourse-input:focus {
  border-color: $color-sub;
  outline: 0;
}

input[type='email'].acourse-input.error,
input[type='number'].acourse-input.error,
input[type='password'].acourse-input.error,
input[type='search'].acourse-input.error,
input[type='tel'].acourse-input.error,
input[type='text'].acourse-input.error,
input[type='date'].acourse-input.error,
input[type='url'].acourse-input.error,
input:not([type]).acourse-input.error,
textarea.acourse-input.error,
select.acourse-input.error {
  border-color: $color-negative;
  outline: 0;
}

.input-field {
  margin-bottom: 16px;
  &:not(.inline) {
    label {
      margin-bottom: 6px;
    }
  }
}
