.acourse-card {
	width: 100%;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 15px 35px rgba(50,50,93,.03), 0 5px 15px rgba(0,0,0,.06);
	margin-bottom: 16px;
	overflow: hidden;
	&.-hover-rise {
		transition: 0.16s all ease;
		cursor: pointer;
		&:hover {
			box-shadow: 0 15px 35px rgba(50,50,93,.07), 0 5px 15px rgba(0,0,0,.1);
			transform: translate(0, -4px);
		}
	}
}
