@import 'config';

table { 
	width: 100%;
	border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
	background: white; 
}
tr:nth-of-type(even) { 
	background: white; 
}

th { 
	background: $color-sub; 
	color: white; 
	font-weight: bold; 
}

td, th { 
	padding: 10px; 
	border: 1px solid #e3e6e8; 
	text-align: left; 
	font-size: 18px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: $md)	{
	table { 
		width: 100%; 
	}
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr { 
		border: 1px solid #d4d4d4;
		margin-bottom: 8px;
	}
	td { 
		/* Behave	like a "row" */
		border: none;
		border-bottom: 1px solid #e3e6e8; 
		position: relative;
		padding-left: 50%;
		word-break: break-all;
		&:last-child {
			border-bottom: 0px;
		}
		span {
			word-break: break-all;
		}
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: $color-black;
		font-weight: bold;
	}

}
