@import 'config';
.acourse-button-base {
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: initial;
  padding: 12px 16px;
  &:focus {
    outline: none;
  }
}

.acourse-button {
  @extend .acourse-button-base;
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,0.15);
  &:hover {
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,0.2);
  }
  color: #fff;
  &.-primary {
    background-color: $color-primary;
  }
  &.-positive {
    background-color: $color-positive;
  }
  &.-warning {
    background-color: $color-warning;
  }
  &.-negative {
    background-color: $color-negative;
  }
  &.-info {
    background-color: $color-info;
  }
  &.-disable {
    background-color: $color-disable;
    color: white;
  }
}

.acourse-button-outline {
  @extend .acourse-button-base;
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,0.15);
  &:hover {
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,0.2);
  }
  border: 1px solid #d6d6d6;
  background-color: white;
  &.-primary {
    color: $color-primary;
    border: 1px solid $color-primary;
  }
  &.-positive {
    color: $color-positive;
    border: 1px solid $color-positive;
  }
  &.-warning {
    color: $color-warning;
    border: 1px solid $color-warning;
  }
  &.-negative {
    color: $color-negative;
    border: 1px solid $color-negative;
  }
  &.-info {
    color: $color-info;
    border: 1px solid $color-info;
  }
  // &.-primary {
  //   border: 1px solid $color-primary;
  // }
  // &.-positive {
  //   border: 1px solid $color-positive;
  // }
  // &.-warning {
  //   border: 1px solid $color-warning;
  // }
  // &.-negative {
  //   border: 1px solid $color-negative;
  // }
  // &.-info {
  //   border: 1px solid $color-info;
  // }
}

.acourse-button-secondary {
  color: #494d55;
  background-color: #fff;
  border: 2px solid #cdd1d3;
  padding: 8px 12px;
  text-align: center;
}

