.app-container {
  padding-top: 80px;
}

footer {
  position: relative;
  z-index: 2;
  padding: 24px 32px;
  backface-visibility: hidden;
  background-color: #292d35;
  color: #777777;

  .bottomline {
    div:first-child {
      text-align: left;
    }

    div:last-child {
      text-align: right;
    }

    @media only screen and (max-width: 767px) {
      div:first-child {
        text-align: center;
      }

      div:last-child {
        text-align: center;
      }
    }
  }
}

#home {
  position: relative;
  z-index: 1;
  padding-top: 0px;
  padding-bottom: 48px;

  .banner {
    display: flex;
    height: 300px;
    background-image: url(https://storage.googleapis.com/acourse/static/b78b6091-4f93-42e0-b5b0-5f11bcab0d64.jpg);
    background-color: #F1F1F1;
    background-size: cover;
    margin-bottom: 32px;
  }

  .tag-line {
    margin-top: -50px;
    font-size: 64px;
    color: white;
    margin-bottom: 16px;
  }

  .sub-tag-line {
    font-size: 20px;
    color: white;
  }
}

#course-list {
  padding-top: 32px;
  min-height: calc(100vh - 311px);
}

#payment-reject {
  padding-top: 32px;
  min-height: calc(100vh - 311px);
}

#payment {
  padding-top: 32px;
  min-height: calc(100vh - 311px);

  img {
    max-width: 100%;
  }
}

#user-list {
  padding-top: 32px;
  min-height: calc(100vh - 311px);
}

#assignment-list {
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: calc(100vh - 311px);
}

#assignment-list .acourse-header a {
  color: #adadad;
}

#sign-up {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;

  .link {
    padding: 12px 16px;
    text-align: center;
    color: gray;

    i {
      margin-right: 4px;
    }
  }
}

#sign-in {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;

  .link {
    padding: 12px 16px;
    text-align: center;
    color: gray;

    i {
      margin-right: 4px;
    }
  }

  .acourse-card {
    min-height: 382px;
  }
}

#reset-password {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;

  .link {
    padding: 12px 16px;
    text-align: center;
    color: gray;

    i {
      margin-right: 4px;
    }
  }

  .acourse-card {
    /*min-height: 200px;*/
  }
}

.course-card {
  .course-cover {
    flex-basis: 160px;
    height: 160px;
    min-height: 0;
    object-fit: cover;
  }

  .acourse-label.Live {
    background-color: #ff4e4e;
  }

  .acourse-label.eBook {
    background-color: #55da65;
  }

  .acourse-label.Video {
    background-color: #594eff;
  }

  .live-date {
    margin-left: 8px;
    color: gray;
    display: inline-block;
  }

  .course-price .discount {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 13px;
  }

  .placeholder {
    background-image: url(https://storage.googleapis.com/acourse/static/d509b7d8-88ad-478c-aa40-2984878c87cd.svg);
    background-size: cover;
  }
}
