// Use rscss System na
@import './config.scss';

/*===============================
  Background Color
===============================*/
._bg-color-main {
  background-color: $color-main;
}
._bg-color-sub {
  background-color: $color-sub;
}
._bg-color-accent {
  background-color: $color-accent;
}
._bg-color-primary {
  background: $color-primary;
}
._bg-color-positive {
  background-color: $color-positive;
}
._bg-color-negative {
  background-color: $color-negative;
}
._bg-color-warning {
  background-color: $color-warning;
}
._bg-color-info {
  background-color: $color-info;
}
._bg-color-black {
  background-color: $color-black;
}
._bg-color-dark {
  background-color: $color-dark;
}
._bg-color-light {
  background-color: $color-light;
}
._bg-color-base {
  background: $color-base;
}
._bg-color-base-2 {
  background: $color-base-2;
}

/*===============================
  Color
===============================*/
._color-main {
  color: $color-main;
}
._color-sub {
  color: $color-sub;
}
._color-accent {
  color: $color-accent;
}
._color-primary {
  background: $color-primary;
}
._color-positive {
  color: $color-positive;
}
._color-negative {
  color: $color-negative;
}
._color-warning {
  color: $color-warning;
}
._color-info {
  color: $color-info;
}
._color-black {
  color: $color-black;
}
._color-dark {
  color: $color-dark;
}
._color-light {
  color: $color-light;
}
._color-base {
  color: $color-base;
}
._color-base-2 {
  color: $color-base-2;
}
/*===============================
  Box Model
===============================*/
._full-width {
  width: 100% !important;
}
._full-height {
  height: 100% !important;
}
._full {
  @extend ._full-width;
  @extend ._full-height;
}
._no-padding {
  padding: 0 !important;
}
._no-margin {
  margin: 0 !important;
}

/*===============================
  Flex Display
===============================*/
._flex {
  display: flex !important;
}
._flex-row {
  @extend ._flex;
}
._flex-column {
  @extend ._flex;
  flex-direction: column;
}
._flex-span {
  flex: 1;
}
._main-strech {
  justify-content: stretch;
}
._cross-strech {
  align-items: stretch;
}
._self-stretch {
  align-self: stretch;
}
._main-start {
  justify-content: flex-start;
}
._cross-start {
  align-items: flex-start;
}
._main-end {
  justify-content: flex-end;
}
._cross-end {
  align-items: flex-end;
}
._main-center {
  justify-content: center;
}
._cross-center {
  align-items: center;
}
._main-space-between {
  justify-content: space-between;
}

/*===============================
  Align
===============================*/
._align-center {
  text-align: center !important;
}
._align-left {
  text-align: left !important;
}
._align-right {
  text-align: right !important;
}


/*===============================
  Font
===============================*/
._font-main {
  font-family: $main-fontface;
}
._font-sub {
  font-family: $secondary-fontface;
}
._font-bold {
  font-weight: 700 !important;
}
._font-thin {
  font-weight: 100 !important;
}

._font-size-small {
  font-size: 13px;
  line-height: 21px;
}
._font-size-normal {
  font-size: 15px;
  line-height: 22px;
}
._font-size-big {
  font-size: 17px;
  line-height: 24px;
}
._font-size-bigger {
  font-size: 24px;
  line-height: 28px;
}
._font-size-biggest {
  font-size: 32px;
  line-height: 38px;
}

/*===============================
  Img.
===============================*/
._img-cover {
  object-fit: cover;
}
._img-contain {
  object-fit: contain;
}

/*===============================
  MISC.
===============================*/
._round {
  border-radius: 50%;
}
._hide {
  display: none;
}
._pre-wrap {
  white-space: pre-wrap;
}
._opa50 {
  opacity: .5;
}
._no-wrap {
  white-space: nowrap;
}