@import 'config.scss';
/*===============================
  Background Color
===============================*/
._bg-color-main {
  background-color: $color-main;
}

._bg-color-sub {
  background-color: $color-sub;
}

._bg-color-accent {
  background-color: $color-accent;
}

._bg-color-primary {
  background: $color-primary;
}

._bg-color-positive {
  background-color: $color-positive;
}

._bg-color-negative {
  background-color: $color-negative;
}

._bg-color-warning {
  background-color: $color-warning;
}

._bg-color-info {
  background-color: $color-info;
}

._bg-color-black {
  background-color: $color-black;
}

._bg-color-dark {
  background-color: $color-dark;
}

._bg-color-light {
  background-color: whitesmoke;
}

._bg-color-base {
  background: $color-base;
}

._bg-color-base-2 {
  background: $color-base-2;
}

/*===============================
  Color
===============================*/
._color-main {
  color: $color-main;
}

._color-sub {
  color: $color-sub;
}

._color-accent {
  color: $color-accent;
}

._color-primary {
  background: $color-primary;
}

._color-positive {
  color: $color-positive;
}

._color-negative {
  color: $color-negative;
}

._color-warning {
  color: $color-warning;
}

._color-info {
  color: $color-info;
}

._color-black {
  color: $color-black;
}

._color-dark {
  color: $color-dark;
}

._color-light {
  color: whitesmoke;
}

._color-base {
  color: $color-base;
}

._color-base-2 {
  color: $color-base-2;
}

/*===============================
  Box Model
===============================*/
._full-width, ._full {
  width: 100% !important;
}

._full-height, ._full {
  height: 100% !important;
}

._no-padding {
  padding: 0 !important;
}

._no-margin {
  margin: 0 !important;
}

/*===============================
  Flex Display
===============================*/
._flex, ._flex-row, ._flex-column {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

._flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._flex-span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

._main-strech {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

._cross-strech {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

._self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

._main-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

._cross-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

._main-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

._cross-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

._main-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._cross-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._main-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*===============================
  Align
===============================*/
._align-center {
  text-align: center !important;
}

._align-left {
  text-align: left !important;
}

._align-right {
  text-align: right !important;
}

/*===============================
  Font
===============================*/
._font-main {
  font-family: $main-fontface;
}

._font-sub {
  font-family: $secondary-fontface;
}

._font-bold {
  font-weight: 700 !important;
}

._font-regular {
  font-weight: 400 !important;
}

._font-thin {
  font-weight: 100 !important;
}

._font-size-small {
  font-size: 13px !important;
  line-height: 21px !important;
}

._font-size-normal {
  font-size: 15px !important;
  line-height: 22px !important;
}

._font-size-big {
  font-size: 17px !important;
  line-height: 24px !important;
}

._font-size-bigger {
  font-size: 24px !important;
  line-height: 28px !important;
}

._font-size-biggest {
  font-size: 32px !important;
  line-height: 38px !important;
}

/*===============================
  Img.
===============================*/
._img-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

._img-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

/*===============================
  MISC.
===============================*/
._round {
  border-radius: 50%;
}

._hide {
  display: none;
}

._pre-wrap {
  white-space: pre-wrap;
}

._opa50 {
  opacity: .5;
}

._opa20 {
  opacity: .2;
}

._no-wrap {
  white-space: nowrap;
}

._clearflex {
  flex: 1 0 auto !important;
}