// Use rscss System na
@import './config.scss';

// Color
._main-text-color {
  color: $color-main;
}
._accent-text-color {
  color: $color-accent;
}
._main-bg-color {
  background-color: $color-main;
}
._accent-bg-color {
  background-color: $color-accent;
}
._main-background-color {
  background: $main-background-color;
}

// Box-Size
._full-width {
  width: 100% !important;
}
._full-height {
  height: 100% !important;
}
._full {
  @extend ._full-width;
  @extend ._full-height;
}
._no-padding {
  padding: 0;
}
._no-margin {
  margin: 0;
}

// Display
._flex {
  display: flex !important;
}
._flex-row {
  @extend ._flex;
}
._flex-column {
  @extend ._flex;
  flex-direction: column;
}
._flex-span {
  flex: 1;
}
._main-strech {
  justify-content: stretch;
}
._cross-strech {
  align-items: stretch;
}
._self-strech {
  align-self: stretch;
}
._main-start {
  justify-content: flex-start;
}
._cross-start {
  align-items: flex-start;
}
._main-center {
  justify-content: center;
}
._cross-center {
  align-items: center;
}
._main-space-between {
  justify-content: space-between;
}
// Position
._align-center {
  text-align: center !important;
}
._align-left {
  text-align: left !important;
}
._align-right {
  text-align: right !important;
}

// Text 
._font-main {
  font-family: $main-fontface;
}
._font-sub {
  font-family: $secondary-fontface;
}
._text-bold {
  font-weight: 700;
}
._text-thin {
  font-weight: 100;
}
._color-main {
  color: $text-color-main;
}
._color-secondary {
  color: $text-color-secondary;
}
._color-accent {
  color: $text-color-accent;
}
._font-size-normal {
  font-size: 15px;
  line-height: 22px;
}
._font-size-small {
  font-size: 13px;
  line-height: 21px;
}
._font-size-big {
  font-size: 17px;
  line-height: 24px;
}