@import 'normalize';
@import 'config';
@import 'helper';
@import 'acourse-grid';
@import 'acourse-navbar';
@import 'acourse-button';
@import 'acourse-input';
@import 'acourse-message';
@import 'acourse-card';
@import 'acourse-segment';

body, html {
  -webkit-font-smoothing: antialiased;
}
div {
  color: $text-color-main;
  font-family: $main-fontface;
  font-weight: 300;
}

p {
  color: $text-color-main;
  font-family: $secondary-fontface;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, div {
  -webkit-font-smoothing: antialiased;
}
p, h1, h2, h3, h4, h5, h6, {
  margin: 0 0 8px 0;
  padding: 0;
}
label {
  font-weight: 600;
}

button {
  border: none;
}

.segment-card {

}
.segment-header {
  font-size: 32px;
  margin-bottom: 32px;
}
.block {
  margin-bottom: 8px;
}
.page-pattern {
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 600px;
    z-index: -1000;
    background: linear-gradient(to bottom right, #F7F7F7, #EAFBFF);
    transform-origin: left bottom;
    position: absolute;
    top: 15%;
    left: 0;
    -webkit-transform: skew(0deg, -15deg);
    -moz-transform: skew(0deg, -15deg);
    -ms-transform: skew(0deg, -15deg);
    -o-transform: skew(0deg, -15deg);
    transform: skew(0deg, -15deg);
  }
  &:after {
    content: '';
    width: 100%;
    height: 500px;
    z-index: -1000;
    background: rgba(145,218,238,0.1);
    transform-origin: bottom right;
    position: absolute;
    top: 32%;
    left: 0;
    -webkit-transform: skew(0deg, 15deg);
    -moz-transform: skew(0deg, 15deg);
    -ms-transform: skew(0deg, 15deg);
    -o-transform: skew(0deg, 15deg);
    transform: skew(0deg, 15deg);
  }
}

// TODO: fix this
.video {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;

  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
