@import 'normalize';
@import 'config';
@import 'helper';
@import 'acourse-grid';
@import 'acourse-button';
@import 'acourse-input';
@import 'acourse-message';
@import 'acourse-card';
@import 'acourse-segment';
@import 'acourse-label';
@import 'acourse-typo';
@import 'acourse-table';
@import 'acourse-shape';
@import 'acourse-switch';

body, html {
  color: $color-dark;
  -webkit-font-smoothing: antialiased;
}
div {
  font-family: $main-fontface;
}

p {
  font-family: $secondary-fontface;
  line-height: 1.4em;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, div {
  -webkit-font-smoothing: antialiased;
}
p, h1, h2, h3, h4, h5, h6, {
  margin: 0 0 8px 0;
  padding: 0;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 10px;
}

label {
  font-weight: 600;
}

button {
  border: none;
}

.page-pattern {
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 600px;
    z-index: -1000;
    background: linear-gradient(to bottom right, #F7F7F7, #EAFBFF);
    transform-origin: left bottom;
    position: absolute;
    top: 15%;
    left: 0;
    -webkit-transform: skew(0deg, -15deg);
    -moz-transform: skew(0deg, -15deg);
    -ms-transform: skew(0deg, -15deg);
    -o-transform: skew(0deg, -15deg);
    transform: skew(0deg, -15deg);
  }
  &:after {
    content: '';
    width: 100%;
    height: 500px;
    z-index: -1000;
    background: rgba(145,218,238,0.1);
    transform-origin: bottom right;
    position: absolute;
    top: 32%;
    left: 0;
    -webkit-transform: skew(0deg, 15deg);
    -moz-transform: skew(0deg, 15deg);
    -ms-transform: skew(0deg, 15deg);
    -o-transform: skew(0deg, 15deg);
    transform: skew(0deg, 15deg);
  }
}

.video {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;

  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  background-color: white;
  transition: top 0.2s ease-in-out;
  border-bottom: 1px solid #e7eef1;
}

#navbar .link {
  color: #474f57;
  text-decoration: none;
  padding: 0 16px;
}

#navbar.nav-up {
  top: -82px;
}

#navbar>.navbar-container {
  position: relative;
  height: 80px;
}

#navbar .username {
  display: block !important;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  #navbar .username {
    display: none !important;
  }
}

#navbar .acourse-button {
  flex-basis: 100px;
}

#navbar .dropbtn {
  border: none;
  cursor: pointer;
}

#navbar .dropdown {
  position: relative;
  display: inline-block;
}

#navbar .dropdown-content-w {
  padding: 1px 0;
}

#navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  border-radius: 3px;
  padding: 8px;
  box-shadow: 2px 10px 20px 0 rgba(46, 61, 73, 0.15);
  z-index: 1;
}

#navbar .dropdown-content a {
  color: #7d8e9c;
  display: block;
  padding: 4px 16px;
}

#navbar .dropdown-content a:hover,
#navbar .dropdown-content a.active {
  color: #2F8DFA;
}

#navbar .dropdown-content {
  right: 0;
}

#navbar .dropdown:hover .dropdown-content {
  display: block;
}

footer {
  position: relative;
  z-index: 2;
  padding: 48px 32px;
  backface-visibility: hidden;
  background-color: #292d35;
  color: #777777;
}

footer>div:first-child {
  text-align: left;
}

footer>div:last-child {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  footer>div {
    text-align: center !important;
  }

  footer>div:first-child {
    text-align: left;
    margin-bottom: 8px;
  }
}

.pulse {
  animation: pound .35s infinite alternate;
  -webkit-animation: pound .35s infinite alternate
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1)
  }
}

@keyframes pound {
  to {
    transform: scale(1.1)
  }
}
