#navbar {
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
	background-color: white;
	transition: top 0.2s ease-in-out;
	border-bottom: 1px solid #e7eef1;

	&.nav-up {
		top: -82px;
	}

	.link {
		color: #474f57;
		text-decoration: none;
		padding: 0 16px;
	}

	> .navbar-container {
		position: relative;
		height: 80px;
	}

	.username {
		display: block !important;
		max-width: 150px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@media only screen and (max-width: 767px) {
			display: none !important;
		}
	}

	.acourse-button {
		flex-basis: 100px;
	}

	.dropbtn {
		border: none;
		cursor: pointer;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content-w {
		padding: 1px 0;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: white;
		min-width: 200px;
		border-radius: 3px;
		padding: 8px;
		box-shadow: 2px 10px 20px 0 rgba(46, 61, 73, 0.15);
		z-index: 1;
		right: 0;

		a {
			color: #7d8e9c;
			display: block;
			padding: 4px 16px;

			&:hover,
			&.active {
				color: $color-sub;
			}
		}


		button {
			color: #7d8e9c;
			display: block;
			padding: 4px 16px;
			cursor: pointer;

			&:hover,
			&.active {
				color: $color-sub;
			}
		}
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}
}
