@import '../config.scss';

$font-families: (
	'primary': $main-fontface,
	'secondary': $secondary-fontface
);

$breakpoints: (
	'sm': $sm,
	'md': $md,
	'lg': $lg,
);

// color background, color, border-color

$colors: (
	'crcl': currentColor,
	'tpr': transparent
);

// radius

$radiuses: (
	'0px': 0px,
	'50pct': 50%,
	'max': 9999px,
	'at': auto
);

// spacing width & height, padding, margin etc.

$spacings: (
	'0px': 0px,
	'50pct': 50%,
	'100pct': 100%,
	'100vw': 100vw,
	'100vh': 100vh,
	'at': auto,
);

// font-size

$font-sizes: (
	'12px': 12px,
	'14px': 14px,
	'16px': 16px,
	'18px': 18px,
	'20px': 20px,
	'22px': 22px,
	'24px': 24px,
	'26px': 26px,
	'30px': 30px,
);