{{define "app-body"}}
<div id="course-list">
  <div class="grid-container _flex-column">

    <div class="acourse-header">
      Course List
    </div>

    <!-- Pagination -->
    <div class="acourse-block-big _flex-row _main-end _cross-start">
      <a class="_flex-row acourse-button-outline -info acourse-side-space" href="?page={{decr .CurrentPage}}">
        <span class="show-sm-upper"><i class="show-sm-upper fa fa-angle-left _font-size-normal"></i> &nbsp&nbsp </span>Prev
      </a>
      {{range paginate .CurrentPage .TotalPage}}
        {{if eq . $.CurrentPage}}
          <div class="show-sm-upper acourse-button -info acourse-side-space">{{.}}</div>
        {{else if eq . -1}}
          <div class="show-sm-upper acourse-button-base -info acourse-side-space">...</div>
        {{else}}
          <a class="show-sm-upper acourse-button-outline -info acourse-side-space" href="?page={{.}}">{{.}}</a>
        {{end}}
      {{end}}
      <div class="hide-sm-upper _flex-row _flex-span _self-stretch">
        <input class="acourse-input -rise _full-width" type="number" placeholder="Page Number" value={{.CurrentPage}} onkeypress="paginationHandler(event, 'top')">
      </div>
      <a class="_flex-row acourse-button-outline -info acourse-side-space" href="?page={{incr .CurrentPage}}">
        Next <span class="show-sm-upper">&nbsp&nbsp <i class="fa fa-angle-right _font-size-normal"></i></span>
      </a>
    </div>

    <!-- Table -->
    <div class="flex-row">
      <table class="acourse-block-big">
        <thead>
          <th>ID</th>
          <th>Image</th>
          <th>Title</th>
          <th>Owner</th>
          <th>Type</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Created At</th>
          <th>Updated At</th>
        </thead>
        <tbody>
          {{range .Courses}}
            <tr>
              <td data-column="ID" class="acourse-word-breakeable" style="min-width: 120px">{{.ID}}</td>
              <td data-column="Image">
                <img
                  class="_img-cover"
                  src="{{.Image}}"
                  onerror="this.src = 'https://storage.googleapis.com/acourse/static/d509b7d8-88ad-478c-aa40-2984878c87cd.svg'"
                  width="200"
                  height="100">
              </td>
              <td data-column="Title" class="acourse-word-breakeable" style="min-width: 120px">{{.Title}}</td>
              <td data-column="Owner" class="acourse-word-breakeable _align-center" style="min-width: 120px">
                <img
                  class="acourse-circle _img-cover"
                  src="{{.Owner.Image}}"
                  onerror="this.src = 'https://storage.googleapis.com/acourse/static/d509b7d8-88ad-478c-aa40-2984878c87cd.svg'">
                <br>
                {{.Owner.Username}}
              </td>

              </td>
              <td data-column="Type">{{.Type | courseType}}</td>
              <td data-column="Price">
                {{.Price | currency}}
                {{if .Option.Discount}}
                  ({{.Discount}})
                {{end}}
              </td>
              <td data-column="Discount">
                {{if .Option.Discount}}
                  Yes
                {{else}}
                  No
                {{end}}
              </td>
              <td data-column="Created At">{{.CreatedAt | dateTime}}</td>
              <td data-column="Updated At">{{.UpdatedAt | dateTime}}</td>
            </tr>
          {{end}}
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="acourse-block-big _flex-row _main-end _cross-start">
      <a class="_flex-row acourse-button-outline -info acourse-side-space" href="?page={{decr .CurrentPage}}">
        <span class="show-sm-upper"><i class="show-sm-upper fa fa-angle-left _font-size-normal"></i> &nbsp&nbsp </span>Prev
      </a>
      {{range paginate .CurrentPage .TotalPage}}
        {{if eq . $.CurrentPage}}
          <div class="show-sm-upper acourse-button -info acourse-side-space">{{.}}</div>
        {{else if eq . -1}}
          <div class="show-sm-upper acourse-button-base -info acourse-side-space">...</div>
        {{else}}
          <a class="show-sm-upper acourse-button-outline -info acourse-side-space" href="?page={{.}}">{{.}}</a>
        {{end}}
      {{end}}
      <div class="hide-sm-upper _flex-row _flex-span _self-stretch">
        <input class="acourse-input -rise _full-width" type="number" placeholder="Page Number" value={{.CurrentPage}} onkeypress="paginationHandler(event, 'bottom')">
      </div>
      <a class="_flex-row acourse-button-outline -info acourse-side-space" href="?page={{incr .CurrentPage}}">
        Next <span class="show-sm-upper">&nbsp&nbsp <i class="fa fa-angle-right _font-size-normal"></i></span>
      </a>
    </div>

  </div>
</div>
{{end}}

{{define "app-script"}}{{end}}
{{define "app-style"}}
<style>
  #course-list {
    padding-top: 32px;
    min-height: calc(100vh - 311px);
  }
</style>
{{end}}

