{{define "app-body"}}
{{$xsrfAccept := xsrf "payment-accept"}}
{{$xsrfReject := xsrf "payment-reject"}}
<div id="payment">
  <div class="grid-container _flex-column">

    <div class="acourse-header">
      Payments
    </div>

    <!-- Pagination -->
    <div class="acourse-block-big _flex-row _main-end _cross-start">
      <a class="_flex-row acourse-button-outline -info acourse-side-space" href="?page={{decr .CurrentPage}}">
        <span class="show-sm-upper"><i class="show-sm-upper fa fa-angle-left _font-size-normal"></i> &nbsp&nbsp </span>Prev
      </a>
      {{range paginate .CurrentPage .TotalPage}}
        {{if eq . $.CurrentPage}}
          <div class="show-sm-upper acourse-button -info acourse-side-space">{{.}}</div>
        {{else if eq . -1}}
          <div class="show-sm-upper acourse-button-base -info acourse-side-space">...</div>
        {{else}}
          <a class="show-sm-upper acourse-button-outline -info acourse-side-space" href="?page={{.}}">{{.}}</a>
        {{end}}
      {{end}}
      <div class="hide-sm-upper _flex-row _flex-span _self-stretch">
        <input class="-rise _full-width" type="number" placeholder="Page Number">
      </div>
      <a class="_flex-row acourse-button-outline -info acourse-side-space" href="?page={{incr .CurrentPage}}">
        Next <span class="show-sm-upper">&nbsp&nbsp <i class="fa fa-angle-right _font-size-normal"></i></span>
      </a>
    </div>

    <!-- Table -->
    <div class="flex-row">
      <table class="acourse-block-big">
        <thead>
          <tr>
            <th>ID</th>
            <!--<th>Image</th>-->
            <th>User</th>
            <!--<th>Name</th>
            <th>Email</th>-->
            <th>Status</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{range .Payments}}
            <tr>
              <td data-column="ID">{{.ID}}</td>
              <!--<td><img src="{{.Image}}"></td>-->
              <td>
                <img src="{{.User.Image}}">
                <span>
                  {{.User.Username}}<br>
                  {{.User.Email.String}}
                </span>
              </td>
              <!--<td></td>
              <td></td>-->
              <td data-column="Status">
                {{if eq .Status pending}}
                  Pending
                {{else if eq .Status accepted}}
                  Accepted
                {{else if eq .Status rejected}}
                  Rejected
                {{end}}
              </td>
              <td data-column="Created At">{{.CreatedAt | dateTime}}</td>
              <td data-column="Updated At">{{.UpdatedAt | dateTime}}</td>
              <td data-column="Actions">
                {{if eq .Status pending}}
                  <a href="?id={{.ID}}&action=accept&x={{$xsrfAccept}}">Accept</a>
                  <a href="?id={{.ID}}&action=reject&x={{$xsrfReject}}">Reject</a>
                {{else}}
                  <div>-</div>
                {{end}}
              </td>
            </tr>
          {{end}}
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="acourse-block-big _flex-row _main-end _cross-start">
      <a class="_flex-row acourse-button-outline -info acourse-side-space" href="?page={{decr .CurrentPage}}">
        <span class="show-sm-upper"><i class="show-sm-upper fa fa-angle-left _font-size-normal"></i> &nbsp&nbsp </span>Prev
      </a>
      {{range paginate .CurrentPage .TotalPage}}
        {{if eq . $.CurrentPage}}
          <div class="show-sm-upper acourse-button -info acourse-side-space">{{.}}</div>
        {{else if eq . -1}}
          <div class="show-sm-upper acourse-button-base -info acourse-side-space">...</div>
        {{else}}
          <a class="show-sm-upper acourse-button-outline -info acourse-side-space" href="?page={{.}}">{{.}}</a>
        {{end}}
      {{end}}
      <div class="hide-sm-upper _flex-row _flex-span _self-stretch">
        <input class="-rise _full-width" type="number" placeholder="Page Number">
      </div>
      <a class="_flex-row acourse-button-outline -info acourse-side-space" href="?page={{incr .CurrentPage}}">
        Next <span class="show-sm-upper">&nbsp&nbsp <i class="fa fa-angle-right _font-size-normal"></i></span>
      </a>
    </div>
</div>
{{end}}

{{define "app-script"}}{{end}}
{{define "app-style"}}
<style>
  #payment {
    padding-top: 32px;
  }
  #payment img {
    max-width: 100%;
  }
</style>
{{end}}
