{{define "app-body"}}
{{$xsrfAccept := xsrf "payment-accept"}}
{{$xsrfReject := xsrf "payment-reject"}}
Payments
<table>
  <thead>
    <th>ID</th>
    <!--<th>Image</th>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>-->
    <th>Status</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {{range .Payments}}
      <tr>
        <td>{{.ID}}</td>
        <!--<td><img src="{{.Image}}"></td>
        <td></td>
        <td></td>
        <td></td>-->
        <td>
          {{if eq .Status pending}}
            Pending
          {{else if eq .Status accepted}}
            Accepted
          {{else if eq .Status rejected}}
            Rejected
          {{end}}
        </td>
        <td>{{.CreatedAt | dateTime}}</td>
        <td>{{.UpdatedAt | dateTime}}</td>
        <td>
          <a href="?id={{.ID}}&action=accept&x={{$xsrfAccept}}">Accept</a>
          <a href="?id={{.ID}}&action=reject&x={{$xsrfReject}}">Reject</a>
        </td>
      </tr>
    {{end}}
  </tbody>
</table>
{{end}}
