{{define "app-body"}}
<div id="payment-reject">
  <div class="acourse-card acourse-segment acourse-block-bigger col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="acourse-header _color-main _align-center">
      Reject: {{.Payment.ID}}
    </div>
    <form method="POST">
      {{$.XSRF}}
      <input type="hidden" name="ID" value="{{.Payment.ID}}">
      <div class="input-field _flex-column">
        <label>Message</label>
        <textarea rows="30" class="acourse-input" name="Message">{{.Message}}</textarea>
        <div class="_flex-row _opa50">
          <img src="https://storage.googleapis.com/acourse/static/f0e314d7-41a2-45b5-8c60-3b751ee1a275.svg"><div class="_font-size-small">&nbsp;Styling with Markdown is supported</div>
        </div>
      </div>
      <button class="acourse-button -negative _font-main _full-width"  type="submit">Submit</button>
    </form>
  </div>
</div>
{{end}}

{{define "app-script"}}{{end}}
{{define "app-style"}}
<style>
  #payment-reject {
    padding-top: 32px;
    min-height: calc(100vh - 311px);
  }
</style>
{{end}}
