{{define "app-body"}}
{{$xsrfAccept := xsrf "payment-accept"}}
{{$xsrfReject := xsrf "payment-reject"}}
<div id="payment">
  <div class="grid-container _flex-column">
    <div class="acourse-header">
      Payments
    </div>
    <div class="flex-row">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <!--<th>Image</th>-->
            <th>User</th>
            <!--<th>Name</th>
            <th>Email</th>-->
            <th>Status</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{range .Payments}}
            <tr>
              <td data-column="ID">{{.ID}}</td>
              <!--<td><img src="{{.Image}}"></td>-->
              <td>
                <img src="{{.User.Image}}">
                <span>
                  {{.User.Username}}<br>
                  {{.User.Email.String}}
                </span>
              </td>
              <!--<td></td>
              <td></td>-->
              <td data-column="Status">
                {{if eq .Status pending}}
                  Pending
                {{else if eq .Status accepted}}
                  Accepted
                {{else if eq .Status rejected}}
                  Rejected
                {{end}}
              </td>
              <td data-column="Created At">{{.CreatedAt | dateTime}}</td>
              <td data-column="Updated At">{{.UpdatedAt | dateTime}}</td>
              <td data-column="Actions">
                {{if eq .Status pending}}
                  <a href="?id={{.ID}}&action=accept&x={{$xsrfAccept}}">Accept</a>
                  <a href="?id={{.ID}}&action=reject&x={{$xsrfReject}}">Reject</a>
                {{else}}
                  <div>-</div>
                {{end}}
              </td>
            </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{end}}

{{define "app-script"}}{{end}}
{{define "app-style"}}
<style>
  #payment {
    padding-top: 32px;
  }
  #payment img {
    max-width: 100%;
  }
</style>
{{end}}
