{{define "app-body"}}
	<div id="user-list">
		<div class="grid-container _flex-column">

			<div class="acourse-header">
				User List
			</div>

			{{template "pagination" .Paginate}}

			<!-- Table -->
			<div class="flex-row">
				<table class="acourse-block-big">
					<thead>
					<tr>
						<th>ID</th>
						<th>Image</th>
						<th>Username</th>
						<th>Name</th>
						<th>Email</th>
						<th>Created At</th>
					</tr>
					</thead>
					<tbody>
					{{range .Users}}
						<tr>
							<td class="acourse-word-breakeable" style="min-width: 120px" data-column="ID">{{.ID}}</td>
							<td data-column="Image">
								<img class="acourse-circle _img-cover"
									 src="{{.Image}}"
									 onerror="this.src = '{{fallbackImage}}'">
							</td>
							<td class="acourse-word-breakeable"
								data-column="Username"
								style="min-width: 120px">{{.Username}}</td>
							<td class="acourse-word-breakeable"
								data-column="Name"
								style="min-width: 120px">{{.Name}}</td>
							<td class="acourse-word-breakeable"
								data-column="Email"
								style="min-width: 200px">{{.Email}}</td>
							<td data-column="Created At">{{.CreatedAt | dateTime}}</td>
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>

			{{template "pagination" .Paginate}}
		</div>
	</div>
{{end}}
