{{define "app-body"}}
<div id="user-list">
  <div class="grid-container _flex-column">

    <div class="acourse-header">
      User List
    </div>

    <!-- Pagination -->
    <div class="acourse-block-big _flex-row _main-end _cross-start">
      <a class="_flex-row acourse-button-outline -info acourse-side-space" href="?page={{decr .CurrentPage}}">
        <span class="show-sm-upper"><i class="show-sm-upper fa fa-angle-left _font-size-normal"></i> &nbsp&nbsp </span>Prev
      </a>
      {{range paginate .CurrentPage .TotalPage}}
        {{if eq . $.CurrentPage}}
          <div class="show-sm-upper acourse-button -info acourse-side-space">{{.}}</div>
        {{else if eq . -1}}
          <div class="show-sm-upper acourse-button-base -info acourse-side-space">...</div>
        {{else}}
          <a class="show-sm-upper acourse-button-outline -info acourse-side-space" href="?page={{.}}">{{.}}</a>
        {{end}}
      {{end}}
      <div class="hide-sm-upper _flex-row _flex-span _self-stretch">
        <input class="-rise _full-width" type="number" placeholder="Page Number">
      </div>
      <a class="_flex-row acourse-button-outline -info acourse-side-space" href="?page={{incr .CurrentPage}}">
        Next <span class="show-sm-upper">&nbsp&nbsp <i class="fa fa-angle-right _font-size-normal"></i></span>
      </a>
    </div>

    <!-- Table -->
    <div class="flex-row">
      <table class="acourse-block-big">
        <thead>
          <th>ID</th>
          <th>Image</th>
          <th>Username</th>
          <th>Name</th>
          <th>Email</th>
          <th>Created At</th>
          <th>Updated At</th>
        </thead>
        <tbody>
          {{range .Users}}
            <tr>
              <td class="acourse-word-brakeable" style="min-width: 120px" data-column="ID">{{.ID}}</td>
              <td data-column="Image"><img src="{{.Image}}"></td>
              <td class="acourse-word-brakeable" data-column="Username" style="min-width: 120px">{{.Username}}</td>
              <td class="acourse-word-brakeable" data-column="Name" style="min-width: 120px">{{.Name}}</td>
              <td class="acourse-word-brakeable" data-column="Email" style="min-width: 200px">{{.Email.String}}</td>
              <td data-column="Created At">{{.CreatedAt | dateTime}}</td>
              <td data-column="Updated At">{{.UpdatedAt | dateTime}}</td>
            </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{end}}

{{define "app-script"}}{{end}}
{{define "app-style"}}
<style>
  #user-list {
    padding-top: 32px;
  }
  #user-list img {
    max-width: 100%;
  }
</style>
{{end}}
