{{define "app-body"}}
	<header class="tc ph4 pv5 bg-center cover" style="background-image:url(/-/header.jpg)">
		<h1 class="f1 fw2 white mv3">
			acourse.io
		</h1>
		<h2 class="f5 f4-m f3-l fw2 white-70 mt0 lh-copy">
			แหล่งเรียนรู้ออนไลน์ ที่ทุกคนเข้าถึงได้
		</h2>
		<a
			href="https://startupcto.typeform.com/to/qd1Utf"
			class="f5 no-underline white bg-white-10 bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box ma3"
			target="_blank"
			rel="noopener"
		>
			สมัครเป็นผู้สอน
		</a>
		<a
			href="https://aintern.acourse.io"
			class="f5 no-underline white bg-white-10 bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box ma3"
			target="_blank"
			rel="noopener"
		>
			AIntern - ฝึกงาน online รายได้ดี
		</a>
	</header>

	<div class="cf mh3-ns mh4-m mh5-l mv4 flex flex-wrap">
		{{range .Courses}}
		{{template "public-course-card" .}}
		{{else}}
		No course avaliable right now
		{{end}}
	</div>
{{end}}
