{{define "app-body"}}
<div id="content-edit">
  <div class="grid-container _flex-column">

    <div class="acourse-block-big row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 _no-padding row">
        <div class="acourse-header _color-sub col-xs-12 col-md-8">
          Course: {{.Course.Title}}
        </div>
        <div class="col-xs-12 col-md-4 _full-width _align-right">
          <a href="/editor/content/create?id={{.Course.ID}}">
            <button class="acourse-button -positive _full-width _font-sub _color-sub">
              <i class="fa fa-plus"></i>&nbsp&nbsp Add content
            </button>
          </a>
        </div>
      </div>
    </div>

    {{range .Course.Contents}}
    <div class="acourse-card acourse-block-big _flex-row row col-xs-12 col-md-8 col-md-offset-2 _no-padding">
      <div class="acourse-segment col-xs-12 col-md-9">
        <h3 class="color-sub">{{.Title}}</h3>
        <div class="_flex-column">
          <p class="_pre-wrap acourse-word-brakeable _color-dark">
            {{.Desc}}
          </p>
        </div>
        <div><span class="_font-bold">Video ID:</span> {{.VideoID}}</div>
      </div>
      <div class="acourse-segment col-xs-12 col-md-3 _bg-color-base-2">
        <a href="/editor/content/edit?id={{.ID}}">
          <button class="acourse-button -primary acourse-block _font-sub _full-width">Edit</button>
        </a>
        <form method="POST">
          {{xsrf "editor/content"}}
          <input type="hidden" name="Action" value="delete">
          <button class="acourse-button -negative _full-width _font-sub">Delete</button>
        </form>
      </div>
    </div>
    {{end}}

  </div>
</div>
{{end}}

{{define "app-script"}} {{end}}

{{define "app-style"}}
<style>
  #content-edit {
    padding-top: 32px;
    padding-bottom: 32px;
    min-height: calc(100vh - 236px);
  }
</style>
{{end}}