
{{define "app-body"}}
<div id="course-edit">
  <div class="grid-container">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="acourse-header _color-sub">Edit: {{.Course.Title}}</div>
      <div class="acourse-card acourse-segment acourse-block-bigger">

        <img
          id="cover"
          class="_full-width _img-cover acourse-block-big"
          src="{{.Course.Image}}"
          onerror="this.src = '/~/img/placeholder-img.svg'">

        <form method="POST" enctype="multipart/form-data">
          {{xsrf "editor/course"}}

          <div class="input-field _flex-column">
            <label>Cover Photo</label>
            <div class="_flex-row">
              <label class="acourse-button -info _font-sub" for="image-input">Upload Cover Photo</label>
              <input id="image-input" class="_hide" name="Image" type="file" accept="image/*">
            </div>
          </div>

          <div class="input-field _flex-column">
            <label>Course Name</label>
            <input class="acourse-input" name="Title" value="{{.Course.Title}}" type="text" placeholder="Course Name" required>
          </div>

          <div class="input-field _flex-column">
            <label>Short Description</label>
            <input class="acourse-input" name="ShortDesc" value="{{.Course.ShortDesc}}" type="text" placeholder="Short Description">
          </div>

          <div class="input-field _flex-column">
            <label>Start Date</label>
            <input class="acourse-input" name="Start" value="{{.Course.Start.Time | dateInput}}" type="date">
          </div>

          <div class="input-field _flex-column">
            <label>Assignment</label>
            <div class="acourse-switch">
              <input type="checkbox" name="Assignment" checked="">
              <label>
                <div></div>
              </label>
            </div>
          </div>

          <div class="input-field _flex-column">
            <label>Course Detail</label>
            <textarea class="acourse-input" id="desc-text" rows="12" name="Desc">{{.Course.Desc}}</textarea>
          </div>

          <button class="acourse-button -primary _font-sub _full-width" type="submit">
            Save Change
          </button>

        </form>

      </div>
    </div>
  </div>
</div>
{{end}}

{{define "app-script"}}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.6.2/tinymce.min.js"></script>-->
<script>
  // document.addEventListener('DOMContentLoaded', () => {
  //   tinymce.init({
  //     selector: '#desc-text',
  //     plugins : 'advlist autolink link image lists charmap print preview'
  //   })
  // })
  bindFileInputImage(document.querySelector('#image-input'), document.querySelector('#cover'))
</script>
{{end}}

{{define "app-style"}}
<style>
  #course-edit {
    padding-top: 32px;
  }

  #course-edit .acourse-card {
    width: initial;
  }

  #course-edit #cover {
    height: 200px;
  }

  @media only screen and (max-width: 767px) {
    #course-edit #cover {
      height: 140px;
    }
    #course-edit .grid-container>div {
      padding: 0;
    }
  }
</style>
{{end}}