{{define "app-body"}}
<div id="course-create">
  <div class="grid-container">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="acourse-header _color-sub">สร้างคอร์สใหม่</div>
      <div class="acourse-card acourse-segment acourse-block-bigger">

        <img
          id="cover"
          class="_full-width _img-cover acourse-block-big"
          src=""
          onerror="this.src = 'https://storage.googleapis.com/acourse/static/d509b7d8-88ad-478c-aa40-2984878c87cd.svg'">

        <form method="POST" enctype="multipart/form-data">
          {{.XSRF}}

          <div class="input-field _flex-column">
            <label>ภาพหน้าปก</label>
            <div class="_flex-row">
              <label class="acourse-button -info _font-sub" for="image-input">อัพโหลดภาพหน้าปก</label>
              <input id="image-input" class="_hide" name="Image" type="file" accept="image/*">
            </div>
          </div>

          <div class="input-field _flex-column">
            <label>ชื่อคอร์ส</label>
            <input class="acourse-input" name="Title" type="text" placeholder="ชื่อคอร์ส" required>
          </div>

          <div class="input-field _flex-column">
            <label>คำอธิบายสั้นๆ</label>
            <input class="acourse-input" name="ShortDesc" type="text" placeholder="คำอธิบายสั้นๆ">
          </div>

          <div class="input-field _flex-column">
            <label>วันที่เริ่มเรียน</label>
            <input class="acourse-input" name="Start" type="date">
          </div>

          <!--<div class="input-field _flex-column">
            <label>Assignment</label>
            <div class="acourse-switch">
              <input type="checkbox" name="Assignment">
              <label>
                <div></div>
              </label>
            </div>
          </div>-->

          <div class="input-field _flex-column">
            <label>รายละเอียดคอร์ส</label>
            <textarea class="acourse-input" id="decs-text" rows="12" name="Desc" placeholder="รายละเอียดคอร์ส"></textarea>
            <div class="_flex-row _opa50">
              <img src="https://storage.googleapis.com/acourse/static/f0e314d7-41a2-45b5-8c60-3b751ee1a275.svg"><div class="_font-size-small">&nbsp;รองรับการใช้ Markdown</div>
            </div>
          </div>
          <i class="fa fa-markdown"></i>
          <button class="acourse-button -primary _font-sub _full-width" type="submit">
            สร้างคอร์ส
          </button>

        </form>

      </div>
    </div>
  </div>
</div>
{{end}}

{{define "app-script"}}
<script>
  bindFileInputImage(document.querySelector('#image-input'), document.querySelector('#cover'))
</script>
{{end}}
