{{define "course-card"}}
  
    <div id="course-card">
      <a class="course-cover" href="/course/{{.URL}}">
        <img src="{{.Image}}" width="100%">
      </a>
      <div class="course-detail">
        <div class="course-name">{{.Title}}</div>
        <div class="course-type-container">
          <div class="course-type {{.Type | courseType}}">{{.Type | courseType}}</div>
          {{if eq .Type live}}
            <div class="live-date">Start at {{.Start | date}}</div>
          {{end}}
        </div>
        <p class="course-description">{{.ShortDesc}}</p>
        <p>Student: {{.EnrollCount}}</p>

        {{if le .Price 0.0}}
          <p>FREE</p>
        {{else}}
          <p class="{{if .Option.Discount}}line{{end}}">{{.Price | currency}}</p>
        {{end}}
        {{if .Option.Discount}}
          <p>{{.Discount | currency}}</p>
        {{end}}
      </div>
    </div>
{{end}}

{{define "course-card-style"}}
<style>
  #course-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #f1f1f1;
  }
  #course-card .course-cover {
    flex-basis: 160px;
    height: 160px;
  }
  #course-card .course-cover img {
    height: 100%;
    object-fit: cover;
  }
  #course-card .course-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px 8px;
  }

  #course-card .course-name {
    margin-bottom: 8px;
  }
  #course-card .course-type {
    color: white;
    display: inline-block;
    border-radius: 3px;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 200;
  }
  #course-card .course-type.Live {
    background-color: #ff4e4e;
  }
  #course-card .course-type.eBook {
    background-color: #55da65;
  }
  #course-card .course-type.Video {
    background-color: #594eff;
  }
  #course-card .live-date {
    margin-left: 8px;
    font-weight: 200;
    font-size: 14px;
    color: gray;
    display: inline-block;
  }
  #course-card .course-type-container {
    margin-bottom: 16px;
  }
  #course-card .course-description {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 16px;
  }
</style>
{{end}}