{{define "footer"}}
<footer class="bg-near-black pv3">
	<div class="tc">
		<h2 class="near-white ml2">Contact Us</h2>
		<a class="link white-60 bg-transparent hover-white inline-flex items-center ma2 tc pa2" href="mailto:contact@acourse.io">
			<i class="fas fa-envelope f2"></i>
			<span class="f5 ml3">contact@acourse.io</span>
		</a>
	</div>
	<div class="tc">
		<a class="link white-60 bg-transparent hover-white inline-flex items-center ma2 tc pa2" href="https://github.com/acoshift/acourse" title="GitHub">
			<i class="fab fa-github f3"></i>
		</a>
		<a class="link white-60 bg-transparent hover-white inline-flex items-center ma2 tc pa2" href="https://www.facebook.com/acourse.io" title="Facebook">
			<i class="fab fa-facebook f3"></i>
		</a>
	</div>
	<div class="tc white-60 f6">
		<p>acourse.io © 2016 - 2018</p>
		<p>Made with <i class="fas fa-heart dark-red"></i>&nbsp;by <a class="link white" href="https://www.moonrhythm.io" target="_blank" rel="noopener">Moon Rhythm</a>
		</p>
	</div>
</footer>
{{end}}