{{define "global.script"}}
	<script data-turbolinks-eval="false">
		function bindFileInputImage (input, img) {
			if (!input || !img) return
			input.onchange = () => {
				const fp = input.files && input.files[0]
				if (fp) {
					const reader = new window.FileReader()
					reader.onload = (e) => {
						img.src = e.target.result
					}
					reader.readAsDataURL(fp)
				}
			}
		}
	</script>
{{end}}
