{{define "user-profile"}}
<div id="profile-card" class="_flex-column _cross-center">
  <img class="acourse-block-big acourse-circle -large _img-cover" src="{{.Image}}" onerror="this.src = '/~/img/placeholder-img.svg'">
  <h3>{{.Name}}</h3>
  <p class="profile-card-detail">{{.AboutMe}}</p>
</div>
{{end}}