{{define "user-profile"}}
<div id="profile-card" class="_flex-column _cross-center">
  <!-- <h3>{{.Username}}</h3> -->
  <img
    class="acourse-block-big _round"
    width="50%"
    src="{{.Image}}" 
    onerror="this.src = '/~/img/placeholder-img.svg'">
  <h3>{{.Name}}</h3>
  <p class="profile-card-detail">{{.AboutMe}}</p>
</div>
{{end}}
